header {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;

 
  background-color: orange;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

#maincontainer {
  display: flex;
  flex-direction: column;
  padding-top: 55px;
}

header  img {   
width: 180px;
}

header  h2 {
  font-family: 'Source Sans Pro';
  color: #FFFFFF;
  margin: 0;
}